body {
  background-color: #171717;
  color: rgb(207, 207, 207);
}

.pre {
  font-family: monospace;
}

.bold {
  font-weight: bold;
}

a {
  color: #ff5c95;
  text-decoration: underline solid 2px white;
  text-underline-offset: 2px;
}

a:hover {
  color: white;
}

.blue {
  color: #49ffe7;
}

.lightBlue {
  color: #5dff54;
}
